# ===========================
# Editor / IDE
# ===========================
.idea/
*.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# ===========================
# Ruby
# ===========================
.bundle
vendor/bundle/

# ===========================
# Node.js
# ===========================
node_modules/

# ===========================
# Docker
# ===========================
docker-compose.local.yml
docker-compose.local.test.yml

# ===========================
# Local tools
# ===========================
# for direnv
.envrc

# for clasp
.clasprc.json

# for claude code
.claude/settings.local.json

# ===========================
# Log etc.
# ===========================
*.log
*.tmp
.cache/

# ===========================
# Windows
# ===========================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# ===========================
# macOS
# ===========================
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ===========================
# Linux
# ===========================
*~
.directory
.Trash-*
